/*My styling sheet for CSS Fundamentals*/
html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,0.8571428571428572) 0%, rgba(148,187,233,1) 100%);
}
/*Heading Style*/
h1 {
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}
/*Body Style*/
body {
	padding: 10px;
	margin: 30px;
}
#logo {
	width: 100px;
}
/*Paragraphs and List Items Style*/
p {
    font-size: 20px;
    color: white;
}

li {
    font-size: 20px;
    color: white;
}